<h1>Listing Companies</h1>

<h3>Filter by technology</h3>
<div class="btn-group" role="group" aria-label="...">
  <% ApplicationController.top_technologies(20).each do |tech| %>
    <button type="button"><%= tech.name %></button>
  <% end %>
</div>

<table class="table table-striped">
  <thead>
    <tr><h4>
      <th width="40%"><span class="glyphicon glyphicon-th-list"></span> Name</th>
      <th width="10%"><span class="glyphicon glyphicon-eye-open"></span> Logo</th>
      <th width="15%"><span class="glyphicon glyphicon-new-window"></span> Description</th>
      <th colspan="35%"><span class="glyphicon glyphicon-stats"></span> Technologies</th>
    </tr></h4>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
     <% unless company.name.empty? || company.technologies.empty? || company.logo == "tyhjä" %>
      <tr>
        <td><%= link_to company.name.capitalize, company %></td>
        <% unless company.logo == "tyhjä" %>
          <td><%= image_tag(company.logo, :height => '32', :width => '32') %></td>
        <% else %>
          <td><%= image_tag('noav.png', :height => '32', :width => '32') %></td>
        <% end %>

        <td><button type="button" class="btn btn-info btn-sm" data-toggle="popover" title="Description of company" data-animation="true" data-trigger="hover click" data-content="<%= company.description %>">Info</button></td>
        <td>
          <ul class="list-inline">
            <% company.technologies.each do |tech| %>
              <li>
                <a href="http://<%= tech.url %>" target="_blank">
                  <img src="<%= tech.logo %>" height="32px">
                </a>
              </li>
            <% end %>
          </ul>
        </td>
  <% if not current_user.nil? %>        
        <td><%= link_to 'Edit', edit_company_path(company) %></td>
        <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  <% end %>    
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<% if not current_user.nil? %>  
  <%= link_to 'New Company', new_company_path %>
<% end %>
