<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
  <%= image_tag(@company.logo, :height => '64', :width => '64', :align => 'left') %>
</p>

<p>
  <strong>Description:</strong>
  <%= @company.description %>
</p>

<p>
  <strong>Admin edited:</strong>
  <%= @company.admin_edited %>
</p>

<p>
  <strong>Technologies:</strong>
</p>

<p>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Logo</th>
    </tr>
  </thead>

  <tbody>
    <% @company.technologies.each do |t| %>
      <tr>
        <td><%= link_to t.name, t %></td>
        <td><img src="<%= t.logo %>" height="32px" width="32px"></td>
      </tr>
    <% end %>
  </tbody>
</table>
</p>


<% if not current_user.nil? %>  
  <%= form_for(@company) do |f| %>
    <%= f.text_field :description %>
    <%= f.submit 'Update description', :size => 80, class:"btn btn-primary btn-xs" %>
  <% end %>

<%= form_for(@technology) do |f| %>
  <div class="field">
    <%= f.label :technologies %>
    <%= f.select :id, options_from_collection_for_select(@technologies, :id, :name) %>
    <%= f.submit class:"btn btn-primary btn-xs" %>
  </div>
<% end %>

<%= link_to 'Edit', edit_company_path(@company) %> |
<% end %>
<%= link_to 'Back', companies_path %>