<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Logo:</strong>
  <%= @company.logo %>
</p>

<p>
  <strong>Description:</strong>
  <%= @company.description %>
</p>

<p>
  <strong>Admin edited:</strong>
  <%= @company.admin_edited %>
</p>

<p>
  <strong>Technologies:</strong>
<ul>
  <% @company.technologies.each do |t| %>
     <li><%= t.name %></li>
  <% end %>
</ul>
</p>

<%= form_for(@technology) do |f| %>
  <div class="field">
    <%= f.label :technologies %>
    <%= f.select :id, options_from_collection_for_select(@technologies, :id, :name) %>
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
