<p id="notice"><%= notice %></p>

<h1>Listing Technologies</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Url</th>
      <th>Logo</th>
      <th>Front</th>
      <th>Back</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @technologies.each do |technology| %>
      <tr>
        <td><%= link_to technology.name, technology %></td>
        <td><%= link_to technology.url, "http://#{technology.url}" %></td>
        <td><img src="<%= technology.logo %>"></td>
        <td><%= technology.front %></td>
        <td><%= technology.back %></td>
        <td><%= technology.description %></td>
<% if not current_user.nil? %>          
        <td><%= link_to 'Edit', edit_technology_path(technology) %></td>
        <td><%= link_to 'Destroy', technology, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if not current_user.nil? %>  
  <%= link_to 'New Technology', new_technology_path %>
<% end %>
