

<div class="btn-group" role="group" aria-label="...">
  <%= link_to Company, companies_path, class:"btn btn-default" %>
  <%= link_to Technology, technologies_path, class:"btn btn-default"  %>
</div>
<div class="input-group input-group" role="group">
  <%= form_tag search_path do %>
    <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "search..." %>
    <%= submit_tag "Search", class: "btn btn-default" %>
  <% end %>
</div>

